{% import '_includes/forms.twig' as forms %}

{% if asset ?? null %}

    <div class="pane" data-bunny-panel="{{ asset.id }}">

        {% if asset.bunnyStreamVideoId %}

            <div data-bunny-fields>
                {{ forms.copyTextField({
                    id: "bunny-stream-video-id-#{asset.id}",
                    label: 'Bunny Stream Video ID'|t('bunny-stream'),
                    value: asset.bunnyStreamVideoId,
                    class: 'code',
                }) }}
            </div>
            <br>
            <div data-bunny-fields>
                {{ forms.copyTextField({
                    id: "bunny-stream-playback-url-#{asset.id}",
                    label: 'Bunny Stream Playback URL'|t('bunny-stream'),
                    value: asset.bunnyStreamDirectUrl,
                    class: 'code',
                }) }}
            </div>
            <br>
            <div data-bunny-fields>
                {{ forms.copyTextField({
                    id: "bunny-stream-hls-url-#{asset.id}",
                    label: 'Bunny Stream HLS URL'|t('bunny-stream'),
                    value: asset.bunnyStreamHlsUrl,
                    class: 'code',
                }) }}
            </div>

            <hr />

            <div data-bunny-data="{{ asset.id }}">
                <h3>{{ 'Bunny Stream Asset Data'|t('bunny-stream') }}</h3>

                <div style="max-width:100%;overflow:auto;">
                    {% if asset.bunnyStreamData %}
                        <pre>{{ asset.bunnyStreamData|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}</pre>
                    {% else %}
                        <p class="warning has-icon">
                            <span class="icon" aria-hidden="true"></span>
                            <span>{{ 'No Bunny Stream data available'|t('bunny-stream') }}</span>
                        </p>
                    {% endif %}
                </div>
            </div>

        {% endif %}

    </div>

{% endif %}
